
body {
    font-family: Arial, sans-serif;
    background: url('https://static.vecteezy.com/system/resources/previews/010/008/086/non_2x/background-dimension-3d-graphic-message-board-for-text-and-message-design-line-shadow-for-modern-web-design-free-vector.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}


.start-btn {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #45d065;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #a4de67;
}


.intro {
    max-width: 1000px;
    color: #fff;
    text-align: left;
    animation: slideIn 1s ease-out;
    font-size: large;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-50px); }
    to { opacity: 1; transform: translateX(0); }
}

.intro h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.intro p {
    font-size: 1.2em;
}


.quiz-container {
    background: rgba(246, 198, 54, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 50%; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timer, .question-info {
    font-size: 1.2em;
    margin: 10px 0;
    color: #555;
}

.question {
    font-size: 1.5em;
    color: #333;
}

.options {
    margin-top: 20px;
    display: grid;
    gap: 10px;
}

.option {
    background: #000000;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.option:hover {
    transform: scale(1.05);
}

.option.selected {
    background-color: #4caf50;
    color: white;
}

.nav-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.nav-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.result-section {
    display: none;
    font-size: 1.2em;
    margin-top: 20px;
}
